#ordertable_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#ordertable_table td, #ordertable_table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
#ordertable_table tr:nth-child(even) {
    background-color: #dddddd;
}