.menu {
    /*background-color: lightblue;*/
    color: black;
    text-align: center;
    height: 100%;
    border:1px solid #CCC;
}
.shoppinglist {
    height: auto;
    text-align: left;
    /*background-color: lightblue;*/
    text-align: right;
    transition: all 0.5s;
}
.longtext {
    display: none;
}
.shoppinglist:hover .shorttext {
    display: none;
}
.shoppinglist:hover .longtext {
    display: block;
}
.linklist {
    /*background-color: lightcoral;*/
    text-align: right;
}
.itemdetail .largepic {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

