.menu {
    /*background-color: lightblue;*/
    color: black;
    text-align: center;
    height: 100%;
    border:1px solid #CCC;
}
.shoppinglist {
    height: auto;
    text-align: left;
    /*background-color: lightblue;*/
    text-align: right;
    transition: all 0.5s;
}
.longtext {
    display: none;
}
.shoppinglist:hover .shorttext {
    display: none;
}
.shoppinglist:hover .longtext {
    display: block;
}
.linklist {
    /*background-color: lightcoral;*/
    text-align: right;
}
ul.itemtable{
    margin:0;
    padding:0;
    list-style:none;
    overflow:auto;
    height: auto;
}
ul.itemtable li{
    width: 250px;
    height: 250px;
    float: left;
    border: 1px solid #CCC;
    text-align: center;
}
ul.itemtable li img{
    width: 180px;
    height: 180px;
}
.clear{clear:both}
